<mat-card class="col-md-10"
  style="margin:auto; margin-top: 2rem;padding:2rem; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;border: 2px solid #673ab7">

  <h2 style="color:#673ab7"> Generate a Page JSON</h2>
  <form [formGroup]="pageForm">

    <mat-form-field class="example-form-field">
      <mat-label for="first-name">Page Name: </mat-label>
      <input matInput id="first-name" type="text" formControlName="pageName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>What template should this page follow?</mat-label>
      <mat-select formControlName="componentForm" (selectionChange)="onOptionSelected($event)">
        <mat-option *ngFor="let templateName of templateNames" [value]=templateName>
          {{ templateName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Which Form is this page for?</mat-label>
      <mat-select formControlName="componentForm">
        <mat-option *ngFor="let form of forms" [value]=form>
          {{ form }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label for="first-name">Page Selector: </mat-label>
      <input matInput id="first-name" type="text" formControlName="pageSelector">
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label for="first-name">Page Route: </mat-label>
      <input matInput id="first-name" type="text" formControlName="pageRoute">
    </mat-form-field>

    <mat-form-field class="example-form-field">
        <mat-label for="first-name">Nav Menu Name: </mat-label>
        <input matInput id="first-name" type="text" formControlName="navMenuName">
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label for="first-name">Where to route on edit: </mat-label>
        <input matInput id="first-name" type="text" formControlName="editRoute">
      </mat-form-field>

        <mat-label for="first-name">Is Save Page: </mat-label>
        <mat-checkbox id="first-name" type="text" formControlName="isSavePage"></mat-checkbox>

    <div formArrayName="routeTo">
      <div *ngFor="let buttonForm of routeTo.controls; let i = index" style="margin:0.5rem;border: 2px solid #673ab7">
        <div [formGroupName]="i">
            <h2>{{buttonForm.value.name}}</h2>
            <mat-form-field class="example-form-field">
                <mat-label for="first-name">Page Route: </mat-label>
                <input matInput id="first-name" type="text" formControlName="route">
              </mat-form-field>
        </div>
      </div>
    </div>

  </form>
  <button class="col-md-3" style="margin:auto" mat-raised-button color="primary" (click)="generateRaw()">Generate
    Page JSON</button>
</mat-card>
