<mat-card class="col-md-10" style="margin:auto;margin-top: 2rem;text-align: center;padding:1rem;margin:auto;margin-top:2rem;border: 2px solid #673ab7">
  <h1 style="color:#673ab7"> Welcome to Metadev JSON Generators</h1>
</mat-card>

<mat-card class="col-md-10" style="padding:1rem;margin:auto;margin-top:5rem;border: 2px solid #673ab7">
  <h2 style="color:#673ab7"> File Upload</h2>
  <hr>
  <mat-form-field class="example-form-field">
    <mat-label for="first-name">Path to assets folder: </mat-label>
    <input matInput id="first-name" type="text" [formControl]="pathName">
  </mat-form-field>
  <button style="margin:auto;margin-top: 2rem;" class="col-md-2" mat-raised-button color="primary"
  (click)="getFiles()">Upload Files</button>
</mat-card>
<app-form-generator></app-form-generator>
<app-record-generator></app-record-generator>
<app-template-generator></app-template-generator>
<app-page-generator></app-page-generator>
